<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Fibo Capital" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Fibo Capital" data-app />
  <meta property="og:title" name="og:title" content="Fibo Capital" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />
  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>
<div id="page">
    <!-- header pc -->
    <div class="top-header hide-on-mobile">
        <div class="grid">
          <div class="logo">
            <a href="/">
              <img src="/uploaded/album/MOlogo.jpg" alt="LogoSite"
                style="max-width:100%; margin:0 auto">
            </a>
          </div>
        </div>
    </div>
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
            <div class="menubar flex-container flex-space-between">
              
              <ul class="nav hide-on-mobile menuleft">
                <li class="">
                   <a href="/" class=""><span> Giới thiệu  </span></a>
                   <ul class="submnu1">
                      <li class=""><a href="#">Sở Giáo dục Mount Olive</a>
                          <ul class="submnu2">
                              <li> <a href="#">Chương trình MOIS</a></li>
                              <li> <a href="#">Thành viên MOIS</a></li>
                              <li> <a href="#">Hội đồng Lãnh đạo</a></li>
                          </ul>
                      </li>
                      <li class=""><a href="#">VMOIS – Trường quốc tế Mount Olive Việt Nam</a>
                        <ul class="submnu2">
                            <li> <a href="#">Giới thiệu VMOIS</a></li>
                            <li> <a href="#">Hội đồng cố vấn</a></li>
                            <li> <a href="#">Hội đồng học thuật</a></li>
                        </ul>
                    </li>
                    
                  </ul>
                </li>
                <li class=""> 
                  <a href="#" class=""><span>Chương trình MOIS  </span></a>
                    
                </li>
                <li class=""> 
                  <a href="#" class=""><span>	Đào tạo </span></a>       
                </li>
                <li class="">
                   <a href="#" class=""><span> Nhập học </span></a>
                </li>
              </ul>
              <ul class="nav hide-on-mobile menuright">
                <li class=""> 
                  <a href="/du-an-dau-tu/" class=""><span>Lịch học VMOIS</span></a>     
                    
                </li>
                <li class=""> 
                  <a href="/du-an-dau-tu/" class=""><span>Học sinh </span></a>     
                    
                </li>
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Phụ huynh VMOIS </span></a>      
                </li>
                <!-- <li class=""> 
                  <a href="/lien-he/" class=""><span>Câu hỏi thường gặp </span></a>      
                </li>
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Tin tức </span></a>      
                </li>
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Log-in</span></a>      
                </li>   
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Đối tác</span></a>      
                </li>    -->
              </ul>
        </div>
      </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <div class="hide-on-pc">
        <div class="header-mb">
          <a href="logo">
            <img src="/uploaded/album/MOlogo.jpg" alt="">
          </a>
          <a class="menu-mobile" href='#menu'><i class='fa fa-list'></i></a>
         
        </div>
    </div>
  
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
        <div class="banner">
          <div class="swiper-container" id="banner">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slide-1">
                    <img src="/uploaded/slideshow/eaglegirl.jpg" alt="">
                    <div class="container">
                        <div class="grid">
                          <div class="slider-container">
                            <div class="animated-area">
                                <h1 class="slider-title">
                                  Schools are on the CUTTING EDGE with the latest technology</h1>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2">
                  <img src="/uploaded/slideshow/hatsup2.jpg" alt="">
                    <div class="container">
                        <div class="grid">
                          <div class="slider-container">
                            <div class="animated-area">
                                <h1 class="slider-title">Autem ratione corporis itaque minus nihil</h1>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"><img src="/images/btn-tour-prev.png" alt=""></div>
            <div class="swiper-button-next"><img src="/images/btn-tour-next.png" alt=""></div>
        </div>
       
        </div>
        <!-- distric new -->
        <div class="homedistric-wrapper">
            <div class="grid">
                <div class="title-wrapper text-center">
                    <h2>DISTRICT NEWS</h2>
                </div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/article/distric-new1.jpg" alt="">
                            <div class="title">
                                <h3>
                                  Mount Olive High School named a model school
                                </h3>
                            </div>
                            <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                            <span href="#">xem thêm</span>
                          </p>
                          </a>                        
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <a href="#">
                          <img src="/uploaded/article/distric-new2.jpg" alt="">
                          <div class="title">
                              <h3>
                                Mount Olive High School named a model school
                              </h3>
                          </div>
                          <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                          <span href="#">xem thêm</span>
                        </p>
                        </a>                        
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <a href="#">
                          <img src="/uploaded/article/distric-new3.jpg" alt="">
                          <div class="title">
                              <h3>
                                Mount Olive High School named a model school
                              </h3>
                          </div>
                          <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                          <span href="#">xem thêm</span>
                        </p>
                        </a>                        
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <a href="#">
                          <img src="/uploaded/article/distric-new1.jpg" alt="">
                          <div class="title">
                              <h3>
                                Mount Olive High School named a model school
                              </h3>
                          </div>
                          <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                          <span href="#">xem thêm</span>
                        </p>
                        </a>                        
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <a href="#">
                          <img src="/uploaded/article/distric-new2.jpg" alt="">
                          <div class="title">
                              <h3>
                                Mount Olive High School named a model school
                              </h3>
                          </div>
                          <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                          <span href="#">xem thêm</span>
                        </p>
                        </a>                        
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <a href="#">
                          <img src="/uploaded/article/distric-new3.jpg" alt="">
                          <div class="title">
                              <h3>
                                Mount Olive High School named a model school
                              </h3>
                          </div>
                          <p>Mount Olive High School has been named a 2022 Model School by the International Center for Leadership in Education, an organization that supports effective instructional practices that lead to accelerated learning for all students. One of just 16 U.S. schools...
                          <span href="#">xem thêm</span>
                        </p>
                        </a>                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end disctric new -->
        <div class="homenewlester-wrapper">
            <div class="grid">
                <div class="text-center">
                  <h2 class="title-wrapper">
                    MT. OLIVE SCHOOL DISTRICT <span class="colorsub">
                      NEWSLETTERS
                    </span>
                  </h2>
                  <div class="c50"></div>
                </div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                        <div class="item">
                          <div class="homenewlester_img">
                            <a href="#" class="">
                              <img src="/uploaded/article/latestnew1.jpg" alt="">
                            </a>
                          </div>
                         
                          <div class="icon">
                              <i class="fas fa-arrow-circle-down"></i>
                          </div>  
                          <div class="content">
                            <h2 class="title">
                              DISTRICT NEWSLETTERS
                            </h2>
                            <a class="btn btn-download" href="#">
                                  Download
                            </a>
                         <div class="c20"></div>

                           </div>
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                        <div class="homenewlester_img">
                          <a href="#" class="">
                            <img src="/uploaded/article/latestnew1.jpg" alt="">
                          </a>
                        </div>
                       
                        <div class="icon">
                            <i class="fas fa-arrow-circle-down"></i>
                        </div>  
                        <div class="content">
                          <h2 class="title">
                            DISTRICT NEWSLETTERS
                          </h2>
                          <a class="btn btn-download" href="#">
                                Download
                          </a>
                       <div class="c20"></div>

                         </div>
                      </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                    <div class="item">
                      <div class="homenewlester_img">
                        <a href="#" class="">
                          <img src="/uploaded/article/latestnew1.jpg" alt="">
                        </a>
                      </div>
                     
                      <div class="icon">
                          <i class="fas fa-arrow-circle-down"></i>
                      </div>  
                      <div class="content">
                        <h2 class="title">
                          DISTRICT NEWSLETTERS
                        </h2>
                        <a class="btn btn-download" href="#">
                              Download
                        </a>
                     <div class="c20"></div>

                       </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="homevideolib-wrapper">
          <section data-jarallax data-jarallax-video="https://www.youtube.com/watch?v=ySIm4akjGZU" data-video-start-time="" data-speed="1">
            <div class="grid">
              <div class="flex-container flex-centered align-center" style="min-height: 500px;">
                <div class="cell-1-1">
                  <div class="item">
                      <h2>Mt. Olive School District <span>video library</span></h2>
                      <p>See for yourself what we’re all about!<br>
                      New videos being added all the time!</p>
                      <a href="/media/" class="btn btn-primary">Open Video Library</a>
                      <a data-fancybox href="https://www.youtube.com/watch?v=AC1cREPIw_o&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                        <button class="btn btn-sm btn-light"><i class="fas fa-video"></i> What is MOHS?</button> 
                      </a>
                
                      <!-- <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-light"></a> -->
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="homecomment-wrapper">
            <div class="swiper-container" id="swiper-comment">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="flex-container">
                      <div class="cell-2-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                        <img src="/uploaded/slideshow/eaglegirl.jpg" alt="">
                      </div>
                      <div class="cell-3-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                          <div class="item">
                            <div class="desc">
                              "I am amazed at how efficiently and diligently school administrators, teachers, and support staff work to make every day the best day for all students. As a parent, I could not be prouder of the excellent education my two boys (Class of 2015 and Class of 2019) have received."
                            </div>
                            <div class="name">
                              Diane Phares – Retired teacher
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
               
                <div class="swiper-slide">
                  <div class="flex-container">
                      <div class="cell-2-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                        <img src="/uploaded/comment/person1.jpg" alt="">
                      </div>
                      <div class="cell-3-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                          <div class="item">
                            <div class="desc">
                              ""I was already a fairly accomplished educator when I left my former school 12 years ago to come to Mount Olive High School, but I was looking for a place that could help me take my game to the next level. MOHS has done just that. I get to work closely every day with dedicated teachers who have incredible ideas that they are eager to share. Administrators encourage me to take risks in order to really help my students connect math with the real world. I truly feel emboldened to be my best self thanks to the forward-thinking, supportive school culture that exists here at MOHS."
                            </div>
                            <div class="name">
                              Diane Phares – Retired teacher
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flex-container">
                      <div class="cell-2-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                        <img src="/uploaded/comment/person2.jpg" alt="">
                      </div>
                      <div class="cell-3-5 tab-cell-1-1 pad-cell-1-1 no-padding">
                          <div class="item">
                            <div class="desc">
                              "I am amazed at how efficiently and diligently school administrators, teachers, and support staff work to make every day the best day for all students. As a parent, I could not be prouder of the excellent education my two boys (Class of 2015 and Class of 2019) have received."
                            </div>
                            <div class="name">
                              Diane Phares – Retired teacher
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            <div class="swiper-button-prev">
             <i class="fa fa-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
              <i class="fa fa-chevron-right"></i>
            </div>
            </div>
        </div>
        <div class="homeschool-wrapper">
            <div class="grid">
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="item">
                          <h3 class="title">
                            Sandshore Elementary School
                          </h3>
                          <div class="desc">
                            Sandshore Elementary School <br>498 Sandshore Rd
                            <p>Budd Lake, NJ 07828</p>
                            <a href="tel:973-691-4003">973-691-4003</a>
                          </div>
                          <a class="btn btn-primany" href="#">
                            Visit Website
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homelogo-wrapper">
            <div class="grid">
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                        <div class="item">
                            <img src="/uploaded/logo/rightAtSchool.jpg" alt="">
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                      <div class="item">
                          <img src="/uploaded/logo/manuesome.png" alt="">
                      </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1 pad-cell-1-1">
                    <div class="item">
                        <img src="/uploaded/logo/pac.png" alt="">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- footer -->
    <footer class="footer">
      <div class="footer-top">
      </div>
      <div class="footer-info">
        <div class="c50"></div>
        <div class="grid">
            <div class="flex-container">
                <div class="cell-1-5 tab-cell-1-1">
                  <div class="title-wrapper">
                    <h4>
                      our <span class="colorsub"> School</span>
                    </h4>
                  </div>
                  <div class="footer-infor">
                    <a href="#">  Sandshore Elementary School </a>
                    <a href="#"> Mountain View Elementary School </a>
                    <a href="#">Chester M. Stephens Elementary </a>
                    <a href="#"> Mt. Olive Middle School</a>
                    <a href="#">Mt. Olive High School</a>
                    <a href="#"> Mt. Olive Board of  Education</a>
                    <a href="#"> Audio Website </a>
                    <a href="#">Language Translation </a>
                </div>
                </div>    
                <div class="cell-4-5 tab-cell-1-1">
                  <div class="title-wrapper">
                    <h4>
                      MT. OLIVE <span class="colorsub">MISSION STATEMENT</span>
                    </h4>
                  </div>
                    <p>The Mount Olive Township School District, a guiding and unifying partner in a dynamic community, educates, challenges and inspires all learners within a safe, nurturing environment to discover and develop their unique abilities as literate, ethical and contributing citizens of the world.</p>
                    <img src="/uploaded/album/MOlogo.jpg" alt="">
                </div>
            </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="grid">
          <div class="flex-container align-center">
              <div class="left">
                <p class="coppy-right"> © 2022 Copyright Mount Olive School District</p>
                <a target="_blank">Custom school district website development by JAM Graphics</a>
              </div>
              <div class="right">
                <ul class="footer-social">
                  <li>
                    <a href="" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>
<nav id="menu">
  <ul>
    <li>
      <a href="#">About</a>
      <ul>
        <li><a href="https://s.codepen.io/georgemarts/debug/0aa033477732634485c3f04b17321ccb?">History<span>Click me</span></a></li>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">News</a></li>
    <li>
      <a href="#">Contact</a>
     
    </li>
    <li class="plugin"><a href="http://mmenu.frebsite.nl/" targey="_blank">mmenu.js</a></li>
  </ul>
</nav>
 
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://unpkg.com/jarallax@~1.11.0/dist/jarallax.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/jarallax@~1.11.0/dist/jarallax-video.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/jarallax@~1.11.0/dist/jarallax-element.min.js"></script>
<script>
  AOS.init({
  duration: 1200,
})

var mySwiper = new Swiper('#banner', {
        loop: true,
        spaceBetween: 50,
        speed: 1000,
        effect: 'fade',
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        }
    })
    var mySwiper = new Swiper('#swiper-comment', {
        loop: true,
        spaceBetween: 50,
        speed: 1000,
        effect: 'fade',
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        }
    })
  

  var swiper = new Swiper("#slide-index_product", {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
          clickable: true,
        }, 
        spaceBetween: 30,
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
      delay: 5000,
      },
      slidesPerView: 4,
      breakpoints: {
      500: {
        slidesPerView: 1
      },
      700: {
        slidesPerView: 1.5
      }
      }
      });
    
</script>
<!-- modal video -->
<div class="socialMediaSticky">
	<a href="https://twitter.com/MountOliveTSD" target="_blank"><img src="/images/docker_twitter.png"></a>
    <a href="https://www.facebook.com/MountOliveTSD/" target="_blank"><img src="/images/docker_facebook.png"></a>
	<a href="https://www.linkedin.com/company/mountolivetsd" target="_blank"><img src="/images/docker_linkedin.png"></a>
    <a href="https://www.instagram.com/mountolivetsd/?hl=en" target="_blank"><img src="/images/docker_instagram.png"></a>
    <a href="https://www.youtube.com/channel/UCP5QqezT6GGCqPBvtDpaoTQ" target="_blank"><img src="/images/docker_youtube.png"></a>
    <a href="https://www.motsd.org/ourDistrict/districtNewsletters.php" target="_blank"><img src="/images/docker_newsletters.png"></a>
     
</div>
</body>

</html>

